.idea
.idea/*
__pycache__/*
__pycache__
*/__pycache__/*
Hapis_App/src/DataAccessObjectsTesting/__pycache__/*
Hapis_Appsrc/DataObjects/__pycache__/*
Hapis_App/src/DataAccessObjects/__pycache__/*
Hapis_App/src/Reports/myapp/__pycache__/
Hapis_App/src/Reports/myapp/__pycache__/*
Hapis_App/src/Managers/__pycacahe__/
Hapis_App/src/Managers/__pycache__/*
Hapis_App/Assets/Database/*.db
Hapis_App/Assets/Database/schema_data.sql
Hapis_App/src/DataAccessObjectsTesting/*.log
Hapis_App/src/DataAccessObjectsTesting/*.db
Hapis_App/src/Models/__pycache__/*
Hapis_App/src/Models/__pycache__
Hapis_App/forms/__pycahe__/*
Hapis_App/forms/__pycahe__
Hapis_App/python_forms/__pycache__/*
Hapis_App/python_forms/__pycache__
*.db
*.log
.env*
Hapis_App/src/GoogleSheetsDataAccessObjects/credentials.json
Hapis_App/src/GoogleSheetsDataAccessObjects/token.json

